.container {
    display: grid;
    width: auto;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
}
.box {
    background-image: url(1b.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
}
.box1 {
    filter: url(1b.svg);
}
.box2 {
    filter: blur(5px); 
}
.box3 {
    filter: brightness(0.5); /* 0 to 1 for darkness, 1+ for brightness */
}
.box4 {
    filter: contrast(200%); /*10% = dark, 300% = bright */
}
.box5 {
    filter: drop-shadow(0 1.2rem 30px orange) /* offset-x offset-y blur-radius color */
}
.box6 {
    filter: grayscale(50%)
}
.box7 {
    filter: hue-rotate(90deg); /* goes to 360 deg */
    animation: hueChange 4s infinite;
}
@keyframes hueChange {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(180deg); 
    }
}
.box8 {
    filter: invert(100%); /* similar to hue-rotate */
}
.box9 {
    filter: opacity(50%);
}
.box10 {
    filter: saturate(1) /* 0% 0 = grey, 50% 0.5 = darker, 100% 1 = normal, 110% 1.1 and higher = brighter */
}
.box11 {
    filter: sepia(1); /* makes it turn reddish brown, 0 to 1 or 0% to 100%*/
}
.box12 {
    filter: grayscale(.7) drop-shadow(0 0 2rem blue);
}
.box13 {
    filter: none;
}