/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color:#444444;
    color: #ffffff;

    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:normal;
    /* same as above */
    font: normal 16px, Arial, Helvetica, sans-serif;

    line-height:1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color:#000;
}

a:hover{
    color:red;
}

a:active{
    color:orange;
}

a:visited{
    /* color:black; */
}

.clr {
    clear:both;
}

.container {
    width: 80%;
    margin: auto;
}
.best-box {
    background-color: #333;

    border-top: 20px blue solid;
    border-right: 20px blue solid;
    border-bottom: 20px blue solid;
    border-left: 20px blue solid;
    /*same as above*/
    border: 20px blue solid;

    border-width: 5px;
    border-bottom-width: 10px;
    border-top-style:ridge;

    padding-top: 0px;

    margin-top: 20px;
}

.best-box h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.poem-2 {
    border: 4px dotted #ccc;
    padding: 20px;
    margin-top: 20px;
}

.places {
    border: 2px #ccc solid;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px
}

.places h2 {
    text-align:center;
}

.places ul {
    padding: 0;
    padding-left: 30px;
    list-style: square;
    list-style: none;
}

.places li{
    padding-bottom: 10px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.main-form{
    padding: 20px;
}

.main-form .form-group {
    padding-bottom:15px;
}

.main-form label{
    display:block; /* will display on a new line */
}

.main-form input[type="text"], .main-form textarea{
    padding: 8px;
    width: 100%;
}

.main-form input:hover {
    background-color: #ccc;
}


/* Instead of 
.main-form input[type="submit"] 
we are applying to all buttons */
.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color: blue;
    color: #fff;
}

.block {
    float:left;
    width: 33.3%; /*Because there's 3 of them*/
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing:border-box; /* will fix the width and padding problem*/
}

#main-block {
    float:left;
    width:70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    float:right; /* adjusts where it'd be compared to other content*/
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

/* Positioning in CSS
    - static : the default
    - relative : relative to normarl position, add properties like 
                top, left, right bottom
    - Absolute : target whatever position we want in a relative element
    - Fixed : fixed position to the browser window, will always be in the same
                position no matter what.
    - Initial : set the property to its default 
    - Inherit : inherits parent property
*/

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid #800;
    margin-top: 30px;
    position: relative; /* needs to be here for
                .p-box h1{
                    position:absolute;
                    top:40px
                to work */
    background-image:url("../images/blue-circle.jpeg");
    background-size: 100%;
}

.p-box h1{
    position:absolute;
    top:40px;
    left: 500px;
}

.p-box h2{
    position:absolute;
    bottom: 100px;
    right: 20px;
}

.fix-me {
    position:fixed;
    top: 0px;
    width: 100%;
    padding-bottom: 40px;
}
/* Fixed position is perfect for things like a navbar */

#bottom {
    margin-top: 500px;
}