
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 3px solid #000;
  z-index: 3;
}

@import './Components/Snake/index.css';

@import './Components/Food/index.css';


/*style={{display: 'grid', position: 'absolute', height: '100%', width : '100%', backgroundColor : 'blue', gridTemplateColumns: '1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr'}}*/

.backgroundGrid {
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: blue;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0;
}

.backgroundGrid > .square {
  background-color: grey;
  padding: 1em;
}

.backgroundGrid > .square:nth-child(odd) {
  background: #ddd;
}