p {
    font-size: 2em;
    border: dotted 20px cyan;
    background: hsl(240, 100%, 50%) url(0bg.jpg) center center / cover no-repeat fixed border-box content-box;
    background-blend-mode: saturation;
}

/* 
    background: color url position position / size repeat attachment origin clip
    ex: 
- background-size: contain | cover | auto
- if you use 1 value at the end it'll be used for both background-origin and background-clip.  If you use 2 values at the end it'll be used respectively
- background-attach - how the image is attached to the wall of the page 
*/

/* 
    background-blend-mode
    <blend-mode> = normal | multiply | screen | overlay | darken | lighten | color-dodge | color-burn | hard-light | soft-light | difference | exclusion | hue | saturation | color | luminosity

    https://developer.mozilla.org/en-US/docs/Web/CSS/blend-mode
*/