html, body {
    margin: 0px;
}
.container {
    background-image: url(0bg.jpg);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
}
.box {
    background: rgba(255, 165, 0, 0.3);
    border: 1px solid;
    box-sizing: border-box;
    margin: 10px;
}
.box1 {
    backdrop-filter: url(0bg.jpg);
}
.box2 {
    backdrop-filter: blur(5px); 
}
.box3 {
    backdrop-filter: brightness(0.5); /* 0 to 1 for darkness, 1+ for brightness */
}
.box4 {
    backdrop-filter: contrast(200%); /*10% = dark, 300% = bright */
}
.box5 {
    backdrop-filter: drop-shadow(0 1.2rem 300px red) /* offset-x offset-y blur-radius color */
}
.box5:first-child {
    filter: url(0b.svg);
    width: 50%;
    height: 50%;
}
.box6 {
    backdrop-filter: grayscale(50%);
}
.box7 {
    backdrop-filter: hue-rotate(90deg); /* goes to 360 deg */
    animation: hueChange 4s infinite;
}
@keyframes hueChange {
    from {
        backdrop-filter: hue-rotate(0deg);
    }
    to {
        backdrop-filter: hue-rotate(180deg); 
    }
}
.box8 {
    backdrop-filter: invert(100%); /* similar to hue-rotate */
}
.box9 {
    backdrop-filter: opacity(100%);
}
.box10 {
    backdrop-filter: saturate(1) /* 0% 0 = grey, 50% 0.5 = darker, 100% 1 = normal, 110% 1.1 and higher = brighter */
}
.box11 {
    backdrop-filter: sepia(1); /* makes it turn reddish brown, 0 to 1 or 0% to 100%*/
}
.box12 {
    backdrop-filter: grayscale(.7) drop-shadow(0 0 2rem blue);
}
.box13 {
    backdrop-filter: none;
}