div {
    background: orange;
    font-size: 1.2em;
    text-align: center;
    block-size: max-content();
    writing-mode: horizontal-tb;
}
/* block-size
fit-content();
max-content();
min-content();

200px or any value

75%
<length> value
*/

/* writing-mode
horizontal-tb
vertical-lr
vertical-rl
*/