.box {
    height: 500px;
    width: 20pxp;
    background-image: url(5b.jpg), url(1b.svg);
    border: solid 10px hsla(1, 37%, 35%, 0.404);
    padding: 20px;
    background-repeat: repeat-y, no-repeat;
    background-position: 50% 50%, 25% 50%;
    background-size: 75px, 150px;
    background-origin: border-box;
    background-clip: padding-box;
}

/* backround-repeat 
no-repeat
repeat
repeat-x
repeat-y
round - repeat to rounded number
space - puts space in between
*/

/* background-origin
content-box
padding-box
border-box
*/

/* 
background-position-x
background-position-y
*/

/* background-position
top left, top, top right, right, bottom right, bottom, bottom left, left, center

50% 50%

x, y, y-offset
x, x-offset, y, y-offset

https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
*/