.box {
    height: 500px;
    width: 20px;
    background-image: url(0b.jpg), url(0b.svg);
    border: solid 10px hsla(1, 37%, 35%, 0.404);
    padding: 20px;
    background: url(0b.jpg) 50% 50% border-box;
}