body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}
.box {
    width: 75px;
    height: 75px;
    background: slategrey;
    margin: 20px;
}
.box1 {
    border-top-style: double;
    border-top-color: red;
    border-top-width: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 25px 200px;

    border-right-style: groove;
    border-right-color: orange;
    border-right-width: 10px;

    border-bottom-style: dotted;
    border-bottom-color: yellow;
    border-bottom-width: 10px;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;

    border-left-style: ridge;
    border-left-color: green;
    border-width: 10px;
}

.box2 {
    border-top: solid red 10px;
    border-start-start-radius: 25%;
    border-start-end-radius: 25%;
    border-right: solid orange 10px;
    border-bottom: solid yellow 10px;
    border-end-end-radius: 25%;
    border-end-start-radius: 25%;
    border-left: solid green 10px;
}

.box3 {
    border-style: groove;
    border-color: red;
    border-width: 10px;
    border-radius: 25%;
    border-image-source: url(0b.svg);
    border-image-width: 20px;
    border-image-repeat: repeat;
    border-image-outset: 10px; /* how much it sticks out */
    border-image-slice: 75%; /*smaller the %, bigger the image */
}

.box4 {
    border-style: groove;
    border-image: url(0b.svg) 75% / 20px / 10px repeat;
}

.box5 {
    border-block-start-style: double;
    border-block-start-color: red;
    border-block-start-width: 10px;

    border-inline-end-style: groove;
    border-inline-end-color: orange;
    border-inline-end-width: 10px;

    border-block-end-style: dotted;
    border-block-end-color: yellow;
    border-block-end-width: 10px;

    border-inline-start-style: ridge;
    border-inline-start-color: green;
    border-inline-start-width: 10px;
}

.box6 {
    border-block: double red 10px;
    border-inline: orange groove 10px;
}
.box7 {
    border: groove darkblue 20px;
    border-radius: 25%;
}

/* border-style: 
<line-style> = none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset
*/

/*
border-top-left-radius: 50%; 
    border-top-right-radius: 25px 200px; x axis first value, y axis second value
*/

/*
border-image
    source | slice | width | outset | repeat 
*/