div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: mymove;
    animation-play-state: paused;
}
/* answers: animation-play-state: running; paused; */

@keyframes mymove {
    from {left: 0px;}
    to {left: 400px;}
}