.container {
    display: flex;
    flex-wrap: wrap;
    background-color: slategrey;
    height: 400px;
    width: 400px;
    align-content: start;
    align-items: start;
}

.box {
    min-height: 20px;
    width: 33.3%;
    background-color: springgreen;
}

.box:nth-child(odd) {
    background-color: steelblue;
}
.box:nth-child(1) {
    min-height: 50px;
}
/* align-items only meant for flex or grid items in the space of their rows. */
/* use width: X% for flex layouts*/
/* 2 ways for align-items to work.
use min-height for all flex items
use inner HTML and an h tag for baseline
*/
/* height: breaks align-items: stretch */


/*
***ANSWERS***
BASIC KEYWORDS
align-items: normal; 
align-items: stretch; 

POSITIONAL ALIGNMENT
align-items: center; 
align-items: flex-start;
align-items: flex-end;

BASELINE ALIGNMENT
align-items: baseline; 
align-items: first baseline; 
align-items: last baseline; ** Overflow alignment (for positional alignment only) **
*/

/*** ONLY IN FIREFOX  ***/
/*
left & right
safe & unsafe
start & end (for flex layouts)
*/
